$lightGreen: #b9e7e7;
$teal: teal;
.app {
  background-color: green;
  display: flex;
  justify-content: center;
  .container {
    background-color: red;
    width: 1024px;

    .link {
      text-decoration: none;
      color: inherit;
    }

    //Login and Register pages
    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $lightGreen;
      height: 100vh;
      h1 {
        font-size: 20px;
        color: $teal;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: white;
        width: 200px;
        gap: 20px;
        input {
          padding: 10px;
          border: none;
          outline: none;
          border-bottom: 1px solid lightgray;
        }
        button {
          padding: 10px;
          border: none;
          background-color: $teal;
          cursor: Pointer;
          color: white;
        }
        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }
        span {
          text-align: center;
        }
      }
    }

    //Navbar
    .navbar {
      .container {
        background-color: lightblue;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
          img {
            height: 60px;
          }
        }
        .links {
          display: flex;
          gap: 10px;
          align-items: center;

          .link {
            font-size: 16px;
            font-weight: 300;
          }
          span {
            cursor: pointer;
          }
          .write {
            background-color: $lightGreen;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
            border: 1px solid transparent;

            &:hover {
              color: $teal;
              background-color: white;
              border: 1px solid $teal;
            }
          }
        }
      }
    }
  }
}
